{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% if title == "insertdata-bookingforecast" %}
            <legend class="border-bottom mb-4">Insert data</legend>
            {% endif %}
            {% if title == "Update BookingForecast data" or title == "update button bookingforecast" %}
            <legend class="border-bottom mb-4">Update data</legend>
            {% endif %}
            <div class="form-group">
                {{ form.project_name.label(class="form-control-label") }}
                {% if form.project_name.errors %}
                {{ form.project_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.project_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.project_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.practice.label(class="form-control-label") }}
                {% if form.practice.errors %}
                {{ form.practice(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.practice.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.practice(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.slt_owner.label(class="form-control-label") }}
                {% if form.slt_owner.errors %}
                {{ form.slt_owner(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.slt_owner.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.slt_owner(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.practice_owner.label(class="form-control-label") }}
                {% if form.practice_owner.errors %}
                {{ form.practice_owner(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.practice_owner.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.practice_owner(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.quarter.label(class="form-control-label") }}
                {% if form.quarter.errors %}
                {{ form.quarter(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.quarter.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.quarter(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.sales_stage.label(class="form-control-label") }}
                {% if form.sales_stage.errors %}
                {{ form.sales_stage(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sales_stage.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sales_stage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.project_type.label(class="form-control-label") }}
                {% if form.project_type.errors %}
                {{ form.project_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.project_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.project_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.region.label(class="form-control-label") }}
                {% if form.region.errors %}
                {{ form.region(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.region.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.region(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.country.label(class="form-control-label") }}
                {% if form.country.errors %}
                {{ form.country(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.country.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.country(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.deal_value.label(class="form-control-label") }}
                {% if form.deal_value.errors %}
                {{ form.deal_value(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.deal_value.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.deal_value(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.win_prob.label(class="form-control-label") }}
                {% if form.win_prob.errors %}
                {{ form.win_prob(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.win_prob.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.win_prob(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.currency.label(class="form-control-label") }}
                {% if form.currency.errors %}
                {{ form.currency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.currency.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.currency(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}