{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Dashboard select</legend>
                    
                    <div class="form-group">
                        {{ form.quarter.label(class="form-control-label") }}
                        {% if form.quarter.errors %}
                        {{ form.quarter(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.quarter.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.quarter(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    
                </fieldset>
                <div class="form-group">
                    <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="submit">
                </div>
            </form>
        </div>
        <div class="panel-body table-responsive" id="tables-display">
            {% for table in tables %}
            {{ table|safe }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}




