{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Won Deals Filters</legend>
            <div class="form-group">
                <label class="form-control-label" for="project_id">Project Id</label>
                <input class="form-control form-control-lg" id="project_id" name="project_id">
                   
            </div>
           
            <div class="form-group">
                <label class="form-control-label" for="project_name">Project Name</label>
                <input class="form-control form-control-lg" id="project_name" name="project_name">
                   
            </div>
            <div class="form-group">
                <label class="form-control-label" for="slt_owner">SLT</label>
                <select class="form-control form-control-lg" id="slt_owner" name="slt_owner">
                    <option value="">--select value--</option>
                    <option value="Shailesh Rao">Shailesh Rao</option>
                    <option value="Prachi Shah">Prachi Shah</option>
                    <option value="Mahesh Haridasan">Mahesh Haridasan</option>
                    <option value="Jamshir Wadia">Jamshir Wadia</option>
                    <option value="Sreerang Raveendran">Sreerang Raveendran</option>
                    <option value="Deepak Satyaprasad">Deepak Satyaprasad</option>
                    <option value="Ashutosh Agarwal">Ashutosh Agarwal</option>
                    <option value="Manoj Adhikari">Manoj Adhikari</option>
                    <option value="Vikas Tiwari">Vikas Tiwari</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="form-control-label" for="practice_owner">Practice Owner</label>
                <select class="form-control form-control-lg" id="practice_owner" name="practice_owner">
                    <option value="">--select value--</option>
                    <option value="Shailesh Rao">Shailesh Rao</option>
                    <option value="Prachi Shah">Prachi Shah</option>
                    <option value="Mahesh Haridasan">Mahesh Haridasan</option>
                    <option value="Jamshir Wadia">Jamshir Wadia</option>
                    <option value="Sreerang R">Sreerang Raveendran</option>
                    <option value="Deepak Satyaprasad">Deepak Satyaprasad</option>
                    <option value="Ashutosh Agarwal">Ashutosh Agarwal</option>
                    <option value="Manoj Adhikari">Manoj Adhikari</option>
                    <option value="Vikas Tiwari">Vikas Tiwari</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="form-control-label" for="project_manager">Project Manager</label>
                <select class="form-control form-control-lg" id="project_manager" name="project_manager">
                    <option value="">--select value--</option>
                    
                    <option value="Prachi Shah">Prachi Shah</option>
                    <option value="Jamshir Wadia">Jamshir Wadia</option>
                    <option value="Sreerang R">Sreerang Raveendran</option>
                    <option value="Deepak S">Deepak Satyaprasad</option>
                    <option value="Ashutosh Agarwal">Ashutosh Agarwal</option>
                    <option value="Manoj Adhikari">Manoj Adhikari</option>
                    <option value="Vikas Tiwari">Vikas Tiwari</option>
                    <option value="Balaji Chetana">Balaji Chetana</option>
                    <option value="Puneet Chandra">Puneet Chandra</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="form-control-label" for="resource_level">Resource Level</label>
                <select class="form-control form-control-lg" id="resource_level" name="resource_level">
                    <option value="">--select value--</option>
                    
                    <option value="SA">Senior Analyst</option>
                    <option value="SE">Software Engineer</option>
                    <option value="SSE">Senior Software Engineer</option>
                    <option value="AC">Assoc Consultant</option>
                    <option value="C">Consultant</option>
                    <option value="SC">Sr Consultant</option>
                    <option value="M">Manager</option>
                    <option value="SM">Sr Manager</option>
                    <option value="PM">Portfolio Manager</option>
                    <option value="D">Director</option>
                    <option value="SD">Sr Director</option><option value="Puneet Chandra">Portfolio Manager</option>
                    <option value="VP">Vice President</option>
                    <option value="EVP">Executive Vice President</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="form-control-label" for="quarter">Quarter</label>
                <select class="form-control form-control-lg" id="quarter" name="quarter">
                    <option value="">--select value--</option>
                    <option value="Q1">Q1</option>
                    <option value="Q2">Q2</option>
                    <option value="Q3">Q3</option>
                    <option value="Q4">Q4</option>
                </select>
            </div>
           
            <div class="form-group">
                <label class="form-control-label" for="project_country">Project Country</label>
                <select class="form-control form-control-lg" id="project_country" name="project_country">
                    <option value="">--select value--</option>
                    <option value="AU">AU</option>
                    <option value="CA">CA</option>
                    <option value="IN">IN</option>
                    <option value="PH">PH</option>
                    <option value="UK">UK</option>
                    <option value="US">US</option>
                    <option value="NL">NL</option>
                    <option value="SG">SG</option>
                    <option value="MY">MY</option>
                    <option value="TH">TH</option>
                    <option value="TW">TW</option>
                </select>
            </div> 
           
            <div class="form-group">
                <label class="form-control-label" for="onshore_offshore">Onshore/Offshore</label>
                <select class="form-control form-control-lg" id="onshore_offshore" name="onshore_offshore">
                    <option value="">--select value--</option>
                    <option value="Onsite">Onsite</option>
                    <option value="Offshore">Offshore</option>
                </select>
            </div>
           
            <div class="form-group">
                <label class="form-control-label" for="practice">Practice</label>
                <select class="form-control form-control-lg" id="practice" name="practice">
                    <option value="">--select value--</option>
                    <option value="Risk & Finance">Risk & Finance</option>
                    <option value="Compilance">Compliance</option>
                </select>
            </div>
        </fieldset>
        <div class="form-group">
            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="submit">
        </div>
    </form>
</div>
{% endblock content %}